apiVersion: batch/v1
kind: CronJob
metadata:
  name: ia-import-job
  namespace: production
spec:
  # Run at 6 am UTC every day.
  schedule: "0 6 * * *"
  # Only run one import at a time so we don't blow through IA's rate limits.
  # Better to interrupt a running import and start a new one so we pick up any
  # newly added URLs (and skip paused URLs), as well as any other new state.
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        spec:
          # Since this just will just kick off again the next day, allow it to
          # fail without any automatic restarting.
          restartPolicy: Never
          # Give it some time to clean up and finish partial batches.
          terminationGracePeriodSeconds: 120
          containers:
          - name: ia-import-job-box
            image: envirodgi/processing:latest
            command: [
              "wm",
              "import-ia",
              "active-pages",
              "--parallel", "6",
              "--precheck",
              "--archive-s3", "edgi-wm-archive",
              "--unplaybackable", "s3://edgi-wm-db-internal/processing/unplaybackable-cache.json",
              "--skip-unchanged", "none",
              "--from", "10d"
            ]
            imagePullPolicy: Always
            resources:
              requests:
                memory: "256Mi"
                cpu: "100m"
              limits:
                memory: "1024Mi"
                cpu: "1500m"
            env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: processing-import-secrets
                  key: aws_access_key_id
            - name: AWS_REGION
              value: us-west-2
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: processing-import-secrets
                  key: aws_secret_access_key
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: processing-import-secrets
                  key: sentry_dsn
            - name: WEB_MONITORING_DB_EMAIL
              valueFrom:
                secretKeyRef:
                  name: processing-import-secrets
                  key: web_monitoring_db_email
            - name: WEB_MONITORING_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: processing-import-secrets
                  key: web_monitoring_db_password
            - name: WEB_MONITORING_DB_URL
              value: 'https://api.monitoring.envirodatagov.org'
