# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command

# Three times a week archive all pages from National Climate Assessment 2018
0 0 * * MON,WED,FRI /home/ubuntu/archive-url-list.sh nca-2018-documents >> /var/log/cron-ia-archive.log 2>&1

# Three times a week archive ECHA pages related to TSCA
30 0 * * MON,WED,FRI /home/ubuntu/archive-url-list.sh earthjustice-tsca-echa >> /var/log/cron-ia-archive.log 2>&1

# For now, also archive pages in our DB that don't seem to be auto-tracked by Wayback
0 1 * * MON,WED,FRI /home/ubuntu/archive-url-list.sh missing-from-ia >> /var/log/cron-ia-archive.log 2>&1

# TEMPORARY: Archive pages from ToxMap and ToxNet, which are shutting down
0 8 * * MON,WED,FRI /home/ubuntu/archive-url-list.sh toxmap_toxnet >> /var/log/cron-ia-toxmap-toxnet.log 2>&1
