apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: api
  namespace: production
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name:  rails-server
        image: envirodgi/db-rails-server:9c749ab24b741b0da43ae6554b6491ae714046e3
        imagePullPolicy: Always
        ports: 
        - containerPort: 3000
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1024Mi"
            cpu: "1500m"
        readinessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 5
        env:
        - name: ALLOWED_ARCHIVE_HOSTS
          value: "https://edgi-wm-versionista.s3.amazonaws.com/ https://edgi-wm-versionista.s3-us-west-2.amazonaws.com/ https://s3-us-west-2.amazonaws.com/edgi-wm-versionista/ https://edgi-versionista-archive.s3.amazonaws.com/ https://edgi-versionista-archive.s3.amazonaws.com/edgi-versionista-archive/"
        - name: AUTO_ANNOTATION_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: auto_annotation_user
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: aws_access_key_id
        - name: AWS_ARCHIVE_BUCKET
          value: edgi-wm-archive
        - name: AWS_REGION
          value: us-west-2
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: aws_secret_access_key
        - name: AWS_WORKING_BUCKET
          value: edgi-wm-db-internal
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: database_rds
        - name: DIFFER_DEFAULT
          value: http://diffing:80
        - name: CACHE_DATE_DIFFER
          value: "2018-10-23T07:00:00Z"
        # TODO: consider making this not a secret
        - name: HOST_URL
          value: "https://api.monitoring.envirodatagov.org/"
        - name: LANG
          value: en_US.UTF-8
        - name: MAIL_SENDER
          value: website.monitoring@envirodatagov.org
        - name: MAX_COLLECTION_PAGE_SIZE
          value: "1000"
        # FIXME: We don't have a New Relic account that isn't tied in with
        # Heroku. We can't really afford it and it's not doing us much good
        # right now anyway, so we should just remove all the config for it.
        - name: NEW_RELIC_AGENT_ENABLED
          value: "false"
        - name: POSTMARK_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: postmark_api_token
        - name: RACK_ENV
          value: production
        - name: RAILS_ENV
          value: production
        - name: RAILS_LOG_TO_STDOUT
          value: enabled
        - name: RAILS_SERVE_STATIC_FILES
          value: enabled
        - name: REDIS_URL
          value: redis://redis-master:6379
        - name: REDIS_CACHE_URL
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: redis_cache_url
        - name: SECRET_KEY_BASE
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: secret_key_base
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: sentry_dsn
        - name: TOKEN_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: token_private_key
        - name: INCREMENTAL_UPDATE
          value: "3"
